#abizar-wrapper {
    max-width: 1000px;
    margin: auto !important;
    padding: 2em;
    margin-bottom: 100px !important;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
}

table {
    width: 300px;
}

img {
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 1em;
    display: block !important;
}


.image-container {
    display: flex;
    justify-content: center;
}

.image-container > img {
    width: 300px;
    height: 300px;
    margin: 0;
}

a {
    cursor: pointer;
    font-size: 24px;
    color: hsla(0, 0%, 0%, 0.7) !important;
    margin-right: 10px;
}

a:hover {
    font-weight: bold;
    color: black !important;
}

canvas {
    border: 1px solid hsla(0,0%,0%,0.1);
    margin-bottom: 100px !important;
}

.arrow {
    font-size: 50px;
    position: fixed;
    top: 50vh;
    color: rgba(0,0,0,0.5) !important;
    margin: 20px;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}